---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <p><b>Date:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Team:</b> {{ page.author }}</p>
            <p><b>Download Links:</b>
              {% for link_hash in page.downloads %}
                {% for link in link_hash %}
                  <li class="download-link">
                    <a href="{{ link[1] }}">{{ link[0] }}</a>
                  </li>
                {% endfor %}
              {% endfor %}
            </p>
            <p><b>Tagged:</b> {{ page.tagged }}</p>
            <p><b>Source:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->

{% include portfolio.html title="More Projects." limit=5 %}
